<div class="rounded-3xl overflow-hidden shadow-xl max-w-md mx-auto my-3 text-black bg-white-500">
    <img [src]="userProfile?.bg_image ?? BackGroundImage" class="-mt-3" alt="avatar" />
    
    <div class="flex justify-center -mt-8">
        <img [src]="userProfile?.image ?? ProfileImage" class="rounded-full border-solid border-white border-2 -mt-3" alt="avatar" style="width: 100px; height: 100px;" />
    </div>

    <div class="text-center px-3 pb-6 pt-2">
        <h3 class="text-lg font-bold font-sans">{{ username }}</h3>
        <p class="text-md font-sans">{{ userProfile?.first_name }} {{ userProfile?.last_name }}</p>
    </div>
</div>

<div class="rounded-3xl overflow-hidden shadow-xl max-w-md mx-auto my-3 text-black bg-white-500">
    <h3 class="text-lg font-bold font-sans text-center">Biography</h3>

    <form method="post" class="text-left px-10">
        <span name="biography" rows="4" cols="50">
            <p *ngIf="userProfile?.biography === ''" class="text-gray-500">No biography</p>
            {{ userProfile?.biography }}
        </span>
    </form>
</div>