<div class="ml-56">
    <div class="flex justify-center" *ngIf="postDetails">
        <div class="max-w-2xl max-h-xl px-10 my-4 py-6 bg-white rounded-lg shadow-md" style='width:50rem;'>
            <div class="flex justify-between items-center w-full">
            </div>
            <div class="mt-2">
                <p class="mt-3 text-gray-800 font-semibold text-lg">{{ postDetails.text }}</p>
                <ng-container *ngIf="postDetails.image">
                    <img src="http://localhost:8000/{{ postDetails.image }}" alt="postDetails Image" class="mt-3 max-w-full">
                </ng-container>
                
                <ng-container *ngIf="postDetails.video">
                    <video controls class="mt-3 max-w-full">
                    <source src="http://localhost:8000/{{ postDetails.video }}" type="video/mp4">
                    Seu navegador não suporta a reprodução de vídeos.
                    </video>
                </ng-container>
            </div>

            <div class="flex justify-between items-center mt-3">
                <div class="ml-auto">
                    <a class="flex items-center" (click)="profile(postDetails.author_username)">
                        <img [src]="'http://localhost:8000' + postDetails.author_image" class='mx-4 w-10 h-10 object-cover rounded-full hidden sm:block' alt='avatar'>
                        <h1 class="text-gray-700 font-bold" style="margin-right: 1rem;">{{ postDetails.author_username }}</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
